<main class="bg-orange-400 h-96">
    <p class="text-center text-2xl p-10">Error al Iniciar Sesion</p>
</main>
{{> footer}}
<script>
    setTimeout(() => {
    location.href ='/'
    }, 2000);
</script>