<main class="flex flex-col  items-center bg-cyan-500  m-0">
        <h1 class="font-mono font-extrabold text-5xl m-5 p-5 " >Centro de Mensajes</h1>
        <h2 class="text-3xl font-bold font-mono underline m-4 compresion"></h2>
        <div>
    <form action="/" method="post" class="flex flex-col text-center items-center bg-cyan-500 p-4 formMensaje">
        <label for="user" class="font-mon">Email</label>
        <input type="email" class="text-center" id="user" required>
        <label for="nombre" class="font-mon">Nombre</label>
        <input type="text" class="text-center" id="nombre" required>
        <label for="apellido" class="font-mon">Apellido</label>
        <input type="text" class="text-center" id="apellido" required>
        <label for="edad" class="font-mon">Edad</label>
        <input type="number" class="text-center" id="edad" required>
        <label for="apodo" class="font-mon">Apodo</label>
        <input type="text" class="text-center" id="apodo" required>
        <label for="avatar" class="font-mon">Avatar</label>
        <input type="text" class="text-center" id="avatar" required>
        <label class="font-mono">Deja tu mensaje</label>
        <input type="text" id="contenidoMensaje" required>
        <button id="enviar" class="border-solid border-2 border-sky-500 bg-gradient-to-r from-blue-700 to-purple-600 font-mono m-6 p-2 shadow-md">Enviar Mensaje</button>
    </form>
    <p class="font-mono" >Desde el Servidor: <span id="mensajeRecibido"></span></p>
    <div class="p-5 m-5 bg-white ">
        <p class="font-mono" id="historial">
            {{#each DB_MENSAJES}}
                <span><b class="text-blue-600 font-bold" >{{this.nombre.author.id}}: </b></span>
                <span class="text-amber-800">{{this.nombre.hora}}: </span>
                <span class="italic text-green-700">{{this.nombre.text}}</span></span></br>
            {{/each}}
        </p>
    </div>
</div>
    </main>
    {{> footer}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js"></script>
    