<main class="flex flex-col items-center bg-red-700 w-auto h-screen">
    <h1 class="p-4 m-5 text-5xl text-white font-serif italic font-bold underline-offset-1">Inicia sesión para continuar</h1>
    <form action="/login" method="post" class="m-5 flex flex-col text-center text-white p4 m-4 text-xl font-serif ">
        <label for="username" class="m-4">Ingresa tu Nombre</label>
        <input type="text" name="usuario" id="usuario" class="text-2xl text-black" required>
        <button class="m-4 p-3 border-2 hover:bg-green-400 hover:text-black hover:border-black" type="submit" value="login">Ingresar</button>
    </form>
</main>