<main>
    <p>Realizando el cálculo, aguarde por favor</p>
    <div class="random">
    
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
<script src="/scripts/script2.js"></script>