<main class="flex flex-col items-center bg-red-700 w-auto h-full">
    <h1 class="p-4 m-5 text-5xl text-white font-serif italic font-bold underline-offset-1">Crea tu usuario para continuar</h1>
    <form action="/register" method="post" class="m-5 flex flex-col text-center text-white p4 m-4 text-xl font-serif ">
        <label for="nombre" class="m-4">Ingresa tu Nombre</label>
        <input type="text" name="nombre" id="username" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="apellido" class="m-4">Ingresa tu apellido</label>
        <input type="text" name="apellido" id="apellido" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="direccion" class="m-4">Ingresa tu direccion</label>
        <input type="text" name="direccion" id="direccion" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="edad" class="m-4">Ingresa tu edad</label>
        <input type="number" name="edad" id="edad" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="telefono" class="m-4">Ingresa tu telefono con c칩digo de 치rea (ej: +5491133225544)</label>
        <input type="tel" name="telefono" id="telefono" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="username" class="m-4">Ingresa tu email</label>
        <input type="mail" name="username" id="username" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="password" class="m-4">Ingresa tu contrase침a</label>
        <input type="password" name="password" id="password" class="text-2xl text-black hover:bg-gray-500" required>
        <label for="avatar" class="m-4">Agrega el enlace de tu foto o de un avatar:</label>
        <input type="text" name="avatar" id="avatar" class="text-2x1 text-black hover:bg-gray-500" required>
        <button class="m-4 p-3 border-2 hover:bg-green-400 hover:text-black hover:border-black" type="submit" value="register" onclick="location.href = '/registrosuccess'">Confirmar Registro</button>
    </form>
    <button class="m-4 p-3 border-2 text-white hover:bg-green-400 hover:text-black hover:border-black " onclick="location.href = '/login'">Ir a Inicio de Sesi칩n</button>
</main>