<main class="flex flex-col items-center bg-red-700 w-auto h-full">
    <h1 class="p-4 m-5 text-5xl text-white font-serif italic font-bold underline-offset-1">Tu usuario se creó con éxito</h1>
    <p>Te estamos redirigiendo para iniciar sesión</p>
    <button class="m-4 p-3 border-2 text-white hover:bg-green-400 hover:text-black hover:border-black " onclick="location.href = '/login'">Ir a Inicio de Sesión</button>
</main>
<script>
    setTimeout(() => {
    location.href ='/'
    }, 2000);
</script>